[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "~=3.4.1"
django = "~=4.0"
django-cors-headers = "~=3.10.1"
djangorestframework = "~=3.13.1"
pyjwt = "~=2.3.0"
pytz = "~=2021.3"
sqlparse = "~=0.2.4"
pymongo = "~=3.12.3"
tzdata = "~=2021.5"
dnspython = "~=2.1.0"
requests = "~=2.26.0"
requests-oauthlib = "~=1.3.0"
python-power-bi = "~=0.1.2"
boto3 = "~=1.20.39"
openpyxl = "==3.0.9"
pandas = "~=1.4.0"
cffi = "==1.15.0"
djongo = "==1.3.6"
pillow = "==9.0.0"
xlrd = "*"
s3fs = "*"
python-decouple = "~=3.6"

[dev-packages]

[requires]
python_version = "3.9"
